<div class="page">
    <div class="humidity">
        <h2>Soil moisture</h2>
        <p id="humidityData"></p>
    </div>
    <div class="sprinkler">
        <h2>Sprinkler</h2>
        <p id="sprinklerStatus"></p>
    </div>
    <button onclick="refreshData()" class="refresh-button">Refresh data</button>
    <style>
        .refresh-button {
            border: 2px solid;
            padding: 5px;
            border-radius: 5px;
            display: flex;
            margin-top: 5px;
            margin-left: 115px;
            cursor: pointer;
        }

        .refresh-button:active {
            background-color: lightgray;
        }

        .sprinkler, .humidity {
            display: inline-block;
            border: 2px solid;
            padding: 10px;
            border-radius: 5px;
        }

        .humidity-data {
            background-color: grey;
            color: #FFFFFF;
        }

        .sprinkler-on {
            background-color: #8FEC8F;
            color: #FFFFFF;
        }

        .sprinkler-off {
            background-color: #FF6E6E;
            color: #FFFFFF;
        }
    </style>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Оновлення даних при завантаженні сторінки
        refreshData();
    });

    function refreshData() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/SoilMoistureSensor/GetSoilMoisture', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var responseData = JSON.parse(xhr.responseText);
                updateData(responseData);
            }
        };

        xhr.send();
    }

    function updateData(data) {
        var humidityStatusElement = document.getElementById('humidityData');
        humidityStatusElement.className = 'humidity humidity-data';
        humidityStatusElement.innerText = 'Humidity: ' + data.humidityData + '%';

        var sprinklerStatusElement = document.getElementById('sprinklerStatus');
        if (data.sprinklerStatus) {
            sprinklerStatusElement.className = 'sprinkler sprinkler-on';
            sprinklerStatusElement.innerText = 'Sprinkler status. Turn-On: On';
        } else {
            sprinklerStatusElement.className = 'sprinkler sprinkler-off';
            sprinklerStatusElement.innerText = 'Sprinkler status. Turn-On: Off';
        }

        localStorage.setItem('sprinklerStatus', JSON.stringify(status));
    }
</script>
